/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


/*--------------------------------
  common styles or utilities start
---------------------------------- */

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #ffffff;
    margin-top: 21px;
    margin-bottom: 30px;
}
.watch-now-button{
    width: 120px;
    height: 24px;
    background-color: #E02C6D; 
    padding: 10px 24px;
    transition: transform .3s;
    }
.watch-now-button:hover{
        background-color: lightskyblue; 
        transform: translateX(5px);
     }

.watch-now-button a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-style: normal;
      }
    
p{
    font-size: 16px;
}

/* ------------Header styles start----------------- */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    padding-bottom: 100px;
}
.banner-section{
    display: flex;
    align-items: center;
    align-content: space-between;
    margin-top: 30px;
}
.banner-left{
    width: 485px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-left h1{
    font-size: 64px;
    font-style: bold;
    color: white;
}

.banner-right img{
    width: 556px;
    height: 456px;
}
/* ------------Header styles end----------------- */

/* ------player article section styles start  ----------*/

.player-article{
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    align-items: center;
}
.player-article article{
    background: #eee5e9;
    border: none;
    box-shadow: 2px 2px 2px 6px 0px rgba(0,0,0,0,0.3);
    width: 330px;
    transition: transform .3s;
}
.player-article article:hover{
    transform: translateY(5px);
    box-shadow: 2px 2px 2px 26px 0px rgba(0,0,0,0,0.3);

}
.player-article img{
    width: 300px;
    height: 256px;
    padding: 15px;
}
.article-details{
    padding: 0px 15px 30px 15px;
}
.article-details h2{
    font-size: 28px;
}

/* ----------------
player article styles end  
---------------------------*/

/* -------------------------
news section styless start
---------------------------- */
.news-article{
    display: flex;
    align-items: center;
    align-content: space-between;
    margin-top: 30px;
    }

.news{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
    width: 466px;
    height: 309px;
    }
.news-text h1{
        font-size: 48px;
    }


.news-article img{
    width: 567px;
    height: 427px;
    margin-left: 69px;
}

/* -------------------------
news section styless start
---------------------------- */

/*------------ footer styles start----------  */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.footer img{
    Width: 227.82px;
    Height: 67.42px;
}

.media-link .fa-media{
    font-size: 17.07px;
    fill: solid;
    color: #969BAB;
    padding: 7.47px;
    border-radius: 50%;
    background-color: #0B0D17;
    opacity: 0.1;
    text-align: center;
    margin-left: 7px;
    transition: transform .3s;
}
.media-link .fa-media:hover{
    transform: translateY(5px);
    color: blue;
    background-color: blue;
    opacity: 0.1;
}
#copyright{
    font-size: 18px;
    color: #000000;
}

/*------------ footer styles end----------  */